<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Add Music</title>
</head>
<body>
<h2>Add Music</h2>
<form action="/admin/add" method="post">
  <label for="musicName">Music Name:</label><br>
  <input type="text" id="musicName" name="Название музыки"><br>
  <label for="authorName">Author Name:</label><br>
  <input type="text" id="authorName" name="Автор музыки"><br>
  <label for="genre">Genre:</label><br>
  <input type="text" id="genre" name="Жанр музыки"><br>
  <label for="link">YouTube Link:</label><br>
  <input type="text" id="link" name="Ссылка на YouTube"><br>
  <label for="albumName">Album Name:</label><br>
  <input type="text" id="albumName" name="Название альбома"><br>
  <label for="year">Year:</label><br>
  <input type="number" id="year" name="Год выпуска"><br><br>
  <input type="submit" value="Add">
</form>
</body>
</html>